.carousel-wrapper {
  margin: 3vh 0vw;
  position: relative;
  z-index: 5;

}

.food-carousel {
  width: 100%;
  height: auto;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.carousel-item img {
  width: 160px;
  height: 160px;
  border-radius: 10px;
  object-fit: cover;
}

//TODO modifier avec la lib ou le ratio des images
@media screen and (min-width: 768px) {
  .carousel-item img {
    width: 220px; /* Taille pour tablette */
    height: 220px;
  }
}

/* 🖥️ Desktop (min-width: 1024px) */
@media screen and (min-width: 1024px) {
  .carousel-item img {
    width: 330px; /* Taille pour PC */
    height: 330px;
  }
}
