
.button-container {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  z-index: 10;
  position: relative;
}

// add bold and color to the button
.button-container > ion-button {
  color: #f2f2f2;
  font-weight: bold;
}
