<ion-header>
  <ion-toolbar>
    <ion-title>Ajouter un plat</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Titre</ion-label>
    <ion-input [(ngModel)]="title"></ion-input>
  </ion-item>

  <ion-item *ngIf="!newCategory">
    <ion-label>Categorie</ion-label>
    <ion-select [(ngModel)]="category">
      <ion-select-option *ngFor="let cat of categories" [value]="cat">
        {{ cat }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="newCategory">
    <ion-label position="floating">Nouvelle catégorie</ion-label>
    <ion-input [(ngModel)]="category"></ion-input>
  </ion-item>

  <ion-button fill="clear" (click)="toggleCategoryMode()">
    {{ newCategory ? 'Choisir une catégorie existante' : 'Ajouter une nouvelle catégorie' }}
  </ion-button>

  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-textarea [(ngModel)]="description"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label>Emoji</ion-label>
    <ion-select [(ngModel)]="emoji">
      <ion-select-option *ngFor="let e of emojis" [value]="e">{{ e }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Prix (€)</ion-label>
    <ion-input type="number" [(ngModel)]="price" min="0" step="0.01"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="submitMeal()">Envoyer le plat</ion-button>

  <ion-text color="success" *ngIf="successMessage">
    <p>{{ successMessage }}</p>
    <ion-button (click)="closeModal()">Fermer</ion-button>
  </ion-text>

  <ion-text color="danger" *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
    <ion-button (click)="closeModal()">Fermer</ion-button>
  </ion-text>
</ion-content>
