<ion-content fullscreen class="home-content">

  <div class="bg-container">
    <img src="/assets/img/meal.jpg" alt="Fond" />
  </div>


  <div class="welcome-banner">
    Bienvenue {{ firstName }}
  </div>

  <div class="center-zone">
    <ion-button (click)="goToMenu()" expand="block" class="btn-menu">
      Voir le menu
    </ion-button>
  </div>


  <div class="bottom-actions">
    <ion-button (click)="goToOrder()" expand="block" class="btn-action">
      Commander
    </ion-button>
    <ion-button (click)="openReservationModal()" expand="block" class="btn-action">
      Réserver
    </ion-button>
  </div>

</ion-content>
