<ion-header>
  <ion-toolbar>
    <ion-title>Une petite faim ?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Boutons commander / réserver -->
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" (click)="goTo('menu-user')">Commander</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" (click)="goTo('reservation')">Réserver</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-button expand="block" (click)="goTo('menu-user')">Voir le menu</ion-button>


  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" (click)="goTo('menu-user')">Commander</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" (click)="openReservationModal()">Réserver</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
