<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>

  <p> Une petite faim ? </p>
  <div class="space-around">
    <ion-button expand="block">Commander</ion-button>
    <ion-button expand="block">Reserver</ion-button>
  </div>
  <p> Nos plats </p>

  <ion-content>

    <!-- 🔥 Barre de boutons filtrables avec scroll horizontal -->
    <div class="filter-buttons">
      <div class="horizontal-scroll">
        <ion-chip *ngFor="let category of categories" (click)="filterItems(category)">
          {{ category }}
        </ion-chip>
      </div>
    </div>

    <!-- 🔥 Carrousel d'items filtrés -->
    <ion-slides *ngIf="filteredItems.length > 0" [options]="slideOpts">
      <ion-slides *ngIf="filteredItems.length > 0" [swiperOptions]="swiperOptions">
        <div class="carousel-item">
          <img [src]="item.image" alt="{{ item.name }}">
          <p>{{ item.name }}</p>
        </div>
        </ion-slide>
      </ion-slides>

      <!-- 🔥 Message si aucun item -->
      <p *ngIf="filteredItems.length === 0" class="empty-message">Aucun élément trouvé.</p>

  </ion-content>


  <ion-button (click)="logout()">Déconnexion</ion-button>

</ion-content>


