<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>

  <p> Une petite faim ? </p>

  <!-- 🔥 Boutons bien placés et reliés aux méthodes -->
  <div class="button-container">
    <ion-button expand="block" (click)="commander()">Commander</ion-button>
    <ion-button expand="block" (click)="reserver()">Réserver</ion-button>
  </div>

  <p> Nos plats </p>

  <!-- 🔥 Barre de boutons filtrables avec scroll horizontal -->
  <div class="filter-buttons">
    <div class="horizontal-scroll">
      <ion-chip *ngFor="let category of categories" (click)="filterItems(category)">
        {{ category }}
      </ion-chip>
    </div>
  </div>

  <!-- 🔥 Carrousel d'items filtrés avec Swiper -->
  <div class="carousel-wrapper">
    <swiper-container
      slides-per-view="1.5"
      space-between="10"
      pagination="true"
      navigation="true"
      preventClicks="false"
      preventClicksPropagation="false"
      class="food-carousel"
    >
      <swiper-slide *ngFor="let item of filteredItems">
        <div class="carousel-item">
          <img [src]="item.image" alt="{{ item.name }}">
          <p>{{ item.name }}</p>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>

  <!-- 🔥 Bouton de déconnexion -->
  <ion-button (click)="logout()">Déconnexion</ion-button>

</ion-content>
